@import url("https://fonts.googleapis.com/css2?family=Pangolin:wght@500&family=Smooch+Sans&display=swap");

:root {
  --select-border: #777;
  --select-focus: blue;
  --select-arrow: var(--select-border);
  --heading-color: #686868;
  --box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  --border-radius: 1rem;
  --background: #fff;
  --white: #fff;
  --grey: #f6f1f9;
  --padding: 1rem;
  --primary-color: #141e27;
  --secondary-color: #94b49f;
  --accent-color: #e5df88;
  --colored-background: #fae6ff;
  --text-color: white;
  --grey-text: #8d8d8d;
  --grey-background: #f7f8fd;
  --progress-bg: rgba(22, 199, 132, 0.12);
  --pastdue-bg: rgba(212, 69, 58, 0.12);
  --pastdue-color: #d4453a;
  --progress-color: #16c784;
  --text-secondary: #8785a2;
  --text-primary: #8d8d8d;
  --gradient: linear-gradient(
    125deg,
    var(--text-color) 0%,
    var(--text-color) 40%,
    var(--accent-color) calc(40% + 1px),
    var(--accent-color) 60%,
    var(--secondary-color) calc(60% + 1px),
    var(--secondary-color) 72%,
    var(--primary-color) calc(72% + 1px),
    var(--primary-color) 100%
  );
  --button-width: fit-content;
}

html,
body {
  font-family: "Pangolin", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-primary);
}

button {
  font-family: "Pangolin", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Smooch Sans", -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

img {
  width: 100%;
  height: auto;
  margin: 0;
}

input[type="checkbox"] {
  display: none;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.lines {
  border-left: 1px solid #ffaa9f;
  border-right: 1px solid #ffaa9f;
  width: 2px;
  float: left;
  height: 495px;
  margin-left: 40px;
}

.box {
  background: "red";
}
